<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        {% csrf_token %}
        {{ f }}
        <input type="submit" value="submit">
    </form>

</body>
</html>